---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(b, a) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			h1{
				font-size: 4.2rem;
				margin-top: 3rem;
			}

			body{
				background: #FEF4E8;
			}
			ul {
				list-style-type: none;
				padding: unset;
				margin-top: 3rem;
				margin-left:-2rem;
				font-size: 1.6rem;
			}
			ul li {
				display: flex;
				flex-direction: column;
			}
			ul li :global(time) {
				flex: 0 0 6rem;
				font-style: italic;
				color: #595959;
			}
			ul li a:visited {
				color: #5f3a09;
			}

			a{
				color: #754d18;
			}

			a:hover {
        		color: #5f3a09;
    	    	text-decoration: underline;
			}

			img{
				border-radius:4px;
				margin-bottom:1rem;
				max-width:100%;
				
			}

			.flex-container{
				display:flex;
				flex-wrap: wrap;
			}

			.blogpost{
				max-width:50%;
			}

			.blogpost:first-child{
				min-width:100%;
			}

			.blogpost img{
				transition: filter .7s;
			}

			.blogpost img:hover{
				filter: brightness(70%); 
			}

			section{
			 margin: 0% 3%;
			}

			@media screen and (max-width: 600px) {
				.blogpost{
					max-width:100%;
				}
				h1{
					line-height: 4.5rem;
				}
				section{
			 		margin: 0% 1%;
				}
			}
		</style>


	</head>
	<body>
		<Header />
		<main>
			<section>
				<h1>Blog</h1>
				<ul>
					
						<div class="flex-container">
						{posts.map((post) => (
							<div class="blogpost">
								<li>
									<a href={`/blog/${post.slug}/`}><img src={post.data.heroImage}></a>
									<a href={`/blog/${post.slug}/`}>{post.data.title}</a>
									<FormattedDate date={post.data.pubDate} />
								</li>
							</div>
						</div>
						))
						}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
